---
layout: default
---
			<head>
				<link rel="stylesheet" type="text/css" href={{ "css/style.css" | relative_url }}>
			</head>
			<nav>
	    			<ul>
	        			<li><a href="{{ base.url }}">Home</a></li>
	        			<li><a href={{ "blog" | relative_url }}>Blog</a></li>
	    			</ul>
			</nav>
			<div class="container">
			
				{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        			<li><a href="https://github.com/geyerbri">github.com/geyerbri</a></li>
				</ul>
			</footer>
